.navbar {
  display:flex;
  margin: 0;
  padding: 0;
  // margin-left: 10px;
  text-decoration: none;
  background-color: #272c2f;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;


  
}

 .links{
  // float: right;
  margin: 20;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  // margin-left:300px;
  // position: relative;
  
  
}

.links p{
  color:white;
  font-weight: bold;
  font-size: 40px;
}

.links p {
  color:white;
  font-size:23px;

}
 .signup{
   margin-left:15px;

 }

 .log {
   display: flex;
  flex-direction: row;
  
 }
 .log button {
  margin-left: 30px;
  height: 30px;
  margin-top: 49px ;  
  color: white;
  background-color: black;
  font-size: 15px;
  font-weight: bold;
 }

#logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
  padding: 0 100px;
  margin: 0;
  text-decoration: none;
}

